hr {
  width: 250px;
  border-top: 3px solid grey;
}

.navbar {
  background-color: #fca93f !important;
}

.navbar-toggler .navbar-toggler-icon {
  color: white !important;
}

.navbar .navbar-nav li a {
  color: white !important;
}

.navbar-custom {
  background-color: #3d4351 !important;
}

.parallax-window {
  min-height: 550px;
  background: transparent;
}

section {
  min-height: 600px;
}

.gallery {
  padding-top: 30px;
  background-color: #3d4351;
  min-height: 700px;
}

.gallery h2 {
  color: white;
}

.gallery .card img {
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #333941;
}

footer p {
  color: white;
  font-size: 0.9em;
  padding-top: 15px;
}

#row2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

